In [47]:
# Import library
import pandas as pd
import re
import string
import nltk

In [12]:
# Download required library
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [85]:
stopwords = nltk.corpus.stopwords.words('english')
ps = nltk.PorterStemmer()

In [86]:
# Loading the dataset
df = pd.read_csv(r'C:\Users\ASUS\Downloads\dl_101-master\data\spam.csv', delimiter = ',', encoding = 'latin-1')

In [87]:
df = df.drop(df.columns[[2, 3, 4]], axis=1)

In [89]:
df.columns = ['Label','Message']
df.head()

  Label                                            Message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [90]:
# Text Cleaning
def clean_txt(txt):
    txt = "".join([c for c in txt if c not in string.punctuation])
    tokens = re.split('\W+', txt)
    txt = " ".join([ps.stem(word) for word in tokens if word not in stopwords])
    return txt

In [91]:
df[ 'Message_Clean' ] = df['Message'].apply(lambda x: clean_txt(x))

In [92]:
df.head()

,Label,Message,Message_Clean
0,ham,"Go until jurong point, crazy.. Available only ...",Go jurong point crazi avail bugi n great world...
1,ham,Ok lar... Joking wif u oni...,Ok lar joke wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entri 2 wkli comp win FA cup final tkt 21...
3,ham,U dun say so early hor... U c already then say...,U dun say earli hor U c alreadi say
4,ham,"Nah I don't think he goes to usf, he lives aro...",nah I dont think goe usf live around though

In [97]:
# n-gram
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(ngram_range=(1,3))

corpus = ["Saya berangkat kuliah"]
X = cv.fit_transform(corpus)
data = pd.DataFrame(X.toarray(), columns = cv.get_feature_names())
print(data)
print(X.shape)

   berangkat  berangkat kuliah  kuliah  saya  saya berangkat  \
0          1                 1       1     1               1

   saya berangkat kuliah
0                      1
(1, 6)

In [70]:
# CountVectoriztion on SMS_SpamCollection

In [78]:
cv1 = CountVectorizer(ngram_range=(1,2))
Y = cv1.fit_transform(df['Message_Clean'])
print(Y.shape)

(5572, 42066)

In [81]:
df_sample = df[0:10]
cv2 = CountVectorizer(ngram_range=(1,2))
Z = cv2.fit_transform(df_sample['Message_Clean'])
print(Z.shape)

(10, 246)

In [84]:
df = pd.DataFrame(Z.toarray(), columns=cv2.get_feature_names())
df

,08002986030,08452810075over18,09061701461,09061701461 claim,11,11 month,12,12 hour,150,150 rcv,...,winner,winner as,wkli,wkli comp,word,word back,world,world la,xxx,xxx std
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,1,1,0,0,1,1
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,1,1,0,0,1,1,0,0,...,1,1,0,0,0,0,0,0,0,0
9,1,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0